useDynLib(asp21bpspline)
import(RcppEigen)
import(ggplot2)
import(mvtnorm)
importFrom(Rcpp, evalCpp)
export("mcmc.spline")
export("spline")

S3method(plot, spline)
S3method(print, spline) # merge with plot
S3method(summary, spline)

S3method(plot, mcmcspline)
S3method(summary, mcmcspline)
